{% extends 'main/layout.html'%}

{% block title%}Мои работы{% endblock %}

{% block content%}
    <div class="features">
        <h1>Мои работы</h1>

        <p>Упорство ведет к цели; Упорства хватит — и сквозь землю пройдешь; Упорство в учебе приносит победу в бою; Поищешь — найдешь, захочешь — добьешься</p>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/1.py"
    width="700"
    height="165">
    </object>
    </div>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/2.py"
    width="700"
    height="165">
    </object>
    </div>

<div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/3.py"
    width="700"
    height="200">
    </object>
    </div>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/4.py"
    width="700"
    height="900">
    </object>
    </div>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/5.py"
    width="700"
    height="250">
    </object>
    </div>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/6.py"
    width="700"
    height="500">
    </object>
    </div>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/7.py"
    width="700"
    height="500">
    </object>
    </div>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/8.py"
    width="700"
    height="1000">
    </object>
    </div>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/9.py"
    width="700"
    height="750">
    </object>
    </div>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/10.py"
    width="700"
    height="500">
    </object>
    </div>

    <div class = "alert alert-warning">
    <object type="application/pdf"
    data="/static/main/project/11.py"
    width="700"
    height="800">
    </object>
    </div>
{% endblock %}